.experiment > .thumbnail {
    width: 160px;
    height: 160px;
}

.experiment > .border {
    border: 1px black;
    padding: 4px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}